<ion-view view-title="Catch">
  <ion-nav-bar class="bar-dark">
  </ion-nav-bar>

  <ion-content>
    <form ng-submit="authenticate(user)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="user.auth.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.auth.password">
        </label>
        <label class="item" >
          <button class="button button-block button-stable" ng-if="!signup" type="submit">Login</button>
          <button class="button button-block button-stable" ng-if="signup" type="submit">Sign Up</button>
        </label>
      </div>

    </form>

    <button class="button button-block button-clear button-assertive" type="button" ng-click="toggleSignup()" ng-if="!signup" >No account? Sign up here.</button>
    <button class="button button-block button-clear button-assertive" type="button" ng-if="signup" ng-click="toggleSignup()">Already have an account? Log in here.</button>


    <div error-list errors="authErrors" ng-if="authErrors.length > 0"></div>
  </ion-content>
</ion-view>
