<ion-view view-title="Contacts">
  <ion-content>
    <h1>C O N T A C T S</h1>
      <ion-list ng-controller="ContactsController" ng-init="contacts.getAll()">
        <ion-item ng-repeat="contact in contacts.contacts">
        <div data-ng-if="!contact.editing" class="item item-button-right">
          <h2>{{contacts.username}}</h2>
          <div class="button-bar">
            <button ng-click="contacts.update(contact)" class="button button-positive">
              <i class="icon ion-android-add-circle"></i>
            </button>
          </div>
        </div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
