i# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
build/
test/test_bundle.js
www/lib/
.env.js
.env
**/bundle.js
config.js
db
.api_key.*
*.io-config.json