/* Empty. Add your own CSS if you like */
.alert {
  color: #ef473a;
  border: 1px #ef473a solid;
  margin-left: 5px;
  margin-right: 5px;
}

.button-vert-center {
  display: flex;
  align-items: center;
  height: 500px;
  border: 1px black solid;
}
